.leaflet-container {
  background-color: black;
  text-align: center;
}

.dark-theme {
  background-color: black;
}

.map-title {
  position: fixed;
  text-align: center;
  bottom: 2rem;
  color: #f07dea;
  width: 100%;
  z-index: 5000;
}

.leaflet-interactive{
  background-repeat: 'repeat';
  background-color: 'black';
  stroke-dasharray: 1;
}

.leaflet-pane > svg path{
  /* fill: #1CD6CE; */
  fill-opacity: 0.2;
  font-weight: 1;
  stroke-width: 1;
}

.leaflet-popup-content{
  margin: 10px;
}
/* 
.leaflet-popup-content-wrapper{
margin: 10px;
padding: 10px;
} */

.leaflet-popup-tipr{
margin-top: 20px;
}